name: Pre-commit

on:
  push:
  workflow_dispatch:
  workflow_call:

jobs:
  check:
    name: Run pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: skevetter/workflows/.github/actions/pre-commit@main
